{% extends 'main/base_layout.html' %}
{% block main-content %}

<div class="text-center my-4">
    <div class="alert alert-warning fw-bold">Welcome to Movie Home 🎬</div>
    <img 
        src="https://static.vecteezy.com/system/resources/previews/015/414/105/non_2x/a-bookstore-with-a-sign-over-the-entrance-books-in-the-shop-window-on-the-shelves-street-store-illustration-flat-style-vector.jpg" 
        alt="Bookstore" 
        class="img-fluid rounded shadow-sm" 
        height="400"
    >
</div>

{% endblock %}
